.header-container {
    color: rgb(226, 89, 114);
    background-color: rgb(179, 237, 237);
    flex-direction: row;
    margin: 20px;
    padding: 20px;
    text-align: center;
    margin-top: 5px;
    padding-top: 5px;
}

.home {
    background-color: rgb(244, 217, 221);
    margin: 10px;
    padding: 10px;
    color: rgb(244, 79, 112);
}

.about {
    background-color: rgb(244, 217, 221);
    margin: 10px;
    padding: 10px;
    color: rgb(244, 79, 112);

}

.projects {
    background-color: rgb(244, 217, 221);
    margin: 10px;
    padding: 10px;
    color: rgb(244, 79, 112);

}